// Цвета
$primary-gray: #BBB8B6;
$primary-black: #333;
$primary-light-gray: #F4F4F4;
$primary-white: #FFF;
$primary-soft-gray: #EAEAEA;
$full-transparent: rgba(0, 0, 0, 0);
$primary-light-gray-transparent: rgba($primary-light-gray, 0.50);
$primary-orange: #F60;

// Ширина экрана
$laptop: 1220px;
$tablet: 992px;
$phone: 640px;